<section class="pricing-section" id="pricing">
  <div class="container-fluid pricing section-container">
    <div class="custom-heading pricing__heading">
      <div class="custom-heading--text pricing__heading--text">

        <h2
          class="custom-heading--text-title pricing__heading--text-title"
        >{{title}}</h2>
        <p
          class="custom-heading--text-desc pricing__heading--text-desc"
        >{{desc}}</p>
      </div>

      <div class="custom-heading--btns pricing__heading--btns">
        <div class="pricing__heading--btns-single active"><a
            href=""
          >Monthly</a></div>
        <div class="pricing__heading--btns-single"><a href="">Yearly</a></div>
      </div>
    </div>

    <div class="pricing__content section-container__content">
      <div class="row g-4">
        {{#each plans}}
          <div class="col-12 col-md-6">
            <div class="pricing__content-item">
              <div class="pricing__content-item--title">
                <span>{{this.title}}</span>
              </div>
              <div class="pricing__content-item--price">
                <span>{{this.price}} <small>/month</small> </span>
              </div>
              <div class="pricing__content-item--features">
                <div class="pricing__content-item--features--text">

                  <p
                    class="pricing__content-item--features--text-title medium"
                  >Available Features</p>
                  {{#each this.features}}
                    <div class="pricing__content-item--features--text-single">
                      <div
                        class="pricing__content-item--features--text-single--icon
                          {{this.icon}}"
                      ></div>
                      <p
                        class="pricing__content-item--features--text-single--text desc"
                      >{{this.name}}</p>
                    </div>
                  {{/each}}
                </div>
                <div
                  class="pricing__content-item--features--btn btn-full btn-orange"
                ><a href="">Get Started</a></div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>

    </div>
  </div>

</section>