<section class="benefits-section" id="benefits">
  <div class="container-fluid benefits section-container">
    <div class="custom-heading benefits__heading">
      <div class="custom-heading--text benefits__heading--text">

        <h2
          class="custom-heading--text-title benefits__heading--text-title"
        >{{title}}</h2>
        <p
          class="custom-heading--text-desc benefits__heading--text-desc"
        >{{desc}}</p>
      </div>

      <div class="custom-heading--btns benefits__heading--btns">
        <div class="btn"><a href="">View All</a></div>
      </div>
    </div>

    <div class="benefits__content section-container__content">
      <div class="row g-3">

        {{#each data}}
          <div class="col-12 col-sm-6 col-lg-4">

            <div class="benefits__content-item">
              <p class="benefits__content-item--no">{{this.no}}</p>
              <div class="benefits__content-item--text">
                <h3
                  class="benefits__content-item--text-title"
                >{{this.title}}</h3>
                <p
                  class="benefits__content-item--text-desc desc"
                >{{this.desc}}</p>
              </div>
              <div class="benefits__content-item--link"><a
                  href={{this.link}}
                ><span class="icon icon-002-arrow-right-up"></span></a></div>
            </div>
          </div>
        {{else}}
          <p>No Content To Display</p>
        {{/each}}
      </div>
    </div>
  </div>
</section>